<template name="layout">
  <div class="container">
    <div class="row">
          <div class="col-sm-12 navbar navbar-fixed-top">
            <a href='/' class='navbar-brand'>Shop the Earth</a>           
              <ul class='nav navbar-nav navbar-right '>
                {{#if currentUser}} 
                  <li>
                    <a href="{{pathFor 'DealSubmit'}}">Create Deal</a>
                  </li>
                  <li>
                    <a href="{{pathFor 'myPostsList'}}">My Deals</a>
                  </li>
                {{/if}}            
            <li><a href='/'>Home</a></li>
            <li><a href='/locateall'>Locate all deals</a></li>                
            <li><a href='{{pathFor 'postsList'}}'>Deals</a></li>
            <li><a>{{> loginButtons}}</a></li>
              </ul>
          </div>
    </div>
 </div>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>
 	<br>

  {{>yield}}
  
  
</template>