<template name="layout">
 <div class="row" id="navigation">
  <header>
  
  
   <div class='heading'>
   <div class="container">
<div class="navbar navbar-fixed-top">
 
  <a href='/' class='navbar-brand'>ShopTheEarth</a>
    <ul class='nav navbar-nav navbar-right '>
    {{#if currentUser}} <li><a href="{{pathFor 'DealSubmit'}}">Create Event</a></li>{{/if}}
        <li><a href='/'>Home</a></li>
        <li><a href='{{pathFor 'postsList'}}'>Events</a></li>
        <li>{{> loginButtons}}</li>
    </ul>
    </div>
    </div>
    </div >

  </header>  
 </div>

  {{>yield}}
  
  
</template>