
<template name="dealPage">
  
   
   <div class="post container">
    <div class="post-content">
    <div class="col-md-12">
     <div class="row well">
      <h3>Product:{{title}}</h3>
       <h4>Outlet :{{outlet}}</h4>
       <h5>Description :{{Description}}</h5>  
       <h5>Actual Price :{{actual}}</h5>
       <h5>Offer Price:{{offer}}</h5>
      <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Hello%20world"
  data-size="large">
Tweet</a>
       

      
    </div>
  </div>
     </div>
  </div>
</template>