
<template name="dealPage">
  
   
   <div class="post container">
    <div class="post-content">
    <div class="col-md-12">
     <div class="row well lead">
      <h3>{{title}}</h3>
      <br>
       <h4>Outlet :{{outlet}}</h4>
       <h5>Description :{{Description}}</h5>  
       <h5>Actual Price :{{actual}}</h5>
       <h5>Offer Price:{{offer}}</h5>
      <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=Share%20the%20deal%20 https://127.0.0.1/{{pathFor 'dealPage'}}"
  data-size="large" id="twitter-wjs">
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span></a>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-thin fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x"></i>
</span>
       

      
    </div>
  </div>
     </div>
  </div>


<div class="container">
  {{>map}}

</div>



</template>